.post-body {
  white-space: nowrap;
  color: #3366BB;
  text-decoration: none;
  overflow: hidden !important;
  text-overflow: clip !important;
}

.btn-custom {
  background-color: transparent;
  text-decoration: none;
  color: #3366BB;
  transition: .2s ease;
}

.table td:hover {
  cursor: pointer;
}

.carousel-item > img {
  max-height: 300px;
}
